@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100%;
}

/**
 * ----------------------------------------------------------------------------
 * Aspect ratio
 * ----------------------------------------------------------------------------
 */

.AspectRatio {
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

.AspectRatio::before {
  content: "";
  display: block;
}

.AspectRatio>img {
  max-height: 100%;
  max-width: 100%;
}

.AspectRatio--withFallback>img {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.featured__container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 25px;
}

.featured__item {
  flex: 1;
}